<%- include('./partials/header.ejs') %>
</head>
<body>
  <h1><%= contact.fName %></h1>
  <h1><%= contact.lName %></h1>
  <h1><%= contact.Email %></h1>
  <h1><%= contact.Age %></h1>
</body>
</html>
